@charset "uft-8";

body {
    color: #888;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.75;
    letter-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}